body {
  background: #999;
}

.board {
  display: grid;
  grid-template-rows: repeat(4, 150px);
  grid-template-columns: repeat(4, 150px);
  grid-gap: 10px;
}

.cell {
  border: 2px solid #ff4da6;
  border-radius: 14px;
  background: #ffe6f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.goblin {
  background: url("../img/goblin.png") no-repeat;
  background-size: contain;
}

.scores {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
